body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.body-container {
    display: flex;
    flex-direction: column;
    
}

.inverted {
    background-color: rgb(0, 40, 66);
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
}

.part-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
    margin: 0 auto;
    flex: 1;
}

img {
    max-width: 100%;
    height: auto;
}