body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    background-color: rgb(0, 40, 66);
    color: white;
    justify-content: space-between;
    align-items: center;
}

.spacing {
    padding: 0 96px;
}

.logo {
    font-weight: bold;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
}