body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
}

.body-container {
    display: flex;
    flex-direction: column;
    
}

.inverted {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 16px;
}

li {
    list-style-type: none;
}

.part-one {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 96px;
    margin: 0 auto;
    flex: 1;
    gap: 40px;
}

img {
    max-width: 100%;
    height: auto;
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.awesome-subtext {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 5px;
    padding: 5px 20px;
}

.random-information {
    text-align: center;
    margin: 40px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 100px;
    gap: 20px;
}

.image-subcontainer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.grey-background {
    background-color: #E5E7EB;
}

.quote {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quoted {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding-right: 100px;
    padding-bottom: 100px;
}

.part-four {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: white;
    margin: 64px 64px;
    padding: 32px 128px;
    border-radius: 5px;
}

.action {
    font-size: 30px;
}

.white-border {
    border: 2px solid white;
}